<!DOCTYPE html>
<html>
<head>
    <title>SocialWave</title>
    <link rel="stylesheet" href="css/style_home.css">
</head>
<body>
    <div class="title-section">
        <img src="resources/logo.png" alt="SocialWave Logo" class="logo-image">
        <a href="index.html" class="logout-btn">Log Out</a>
    </div>
    <div class="container" id="app">
        <div class="left-section">
            <!-- Button to go to profile.html -->
            <a href="profile.html" class="profile-btn">My Profile</a>
            <!-- Dropdown for Following -->
            <button class="dropdown-btn" @click="toggleFollowing">Following</button>
            <div class="dropdown-content" v-show="showFollowing">
                <!-- Dropdown items for Following -->
                <a v-for="user in following" :href=`profile.html?userId=${user.Id}` :key="user.id">{{ user.username }}</a>
            </div>
            <!-- Dropdown for Followers -->
            <button class="dropdown-btn" @click="toggleFollowers">Followers</button>
            <div class="dropdown-content" v-show="showFollowers">
                <!-- Dropdown items for Followers -->
                <a v-for="user in followers" :href=`profile.html?userId=${user.Id}` :key="user.id">{{ user.username }}</a>
            </div>
        </div>
        <div class="middle-section">
            <div class="post-feed">
                <post-block v-for="post in posts" :post="post" @follow-toggled="onFollowToggled"></post-block>
            </div>
        </div>
        <div class="right-section">
            <div class="notification-blocks">
                <div class="notification-block">
                    <h3>Notification 1</h3>
                    <p>Notification 1 content</p>
                </div>
                <div class="notification-block">
                    <h3>Notification 2</h3>
                    <p>Notification 2 content</p>
                </div>
                <div class="notification-block">
                    <h3>Notification 3</h3>
                    <p>Notification 3 content</p>
                </div>
                <!-- Add more notification blocks as needed -->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="libs/vue.js"></script>
    <script type="text/javascript" src="libs/axios.js"></script>
    <script type="text/javascript" src="js/home.js"></script>
</body>
</html>
