<!DOCTYPE html>
<html>
<head>
    <title>SocialWave</title>
    <link rel="stylesheet" href="css/style_home.css">
</head>
<body>
    <div class="title-section">
        <img src="resources/logo.png" alt="SocialWave Logo" class="logo-image">
        <a href="index.html" class="logout-btn">Log Out</a>
    </div>
    <div class="container" id="app">
        <div class="left-section">
            <!-- Button to go to profile.html -->
            <a href="profile.html" class="profile-btn">My Profile</a>
            <!-- Dropdown for Following -->
            <button class="dropdown-btn" @click="toggleFollowing">Following</button>
            <div class="dropdown-content" v-show="showFollowing">
                <!-- Dropdown items for Following -->
                <a v-for="user in following" :href=`profile.html?userId=${user.Id}` :key="user.id">{{ user.username }}</a>
            </div>
            <!-- Dropdown for Followers -->
            <button class="dropdown-btn" @click="toggleFollowers">Followers</button>
            <div class="dropdown-content" v-show="showFollowers">
                <!-- Dropdown items for Followers -->
                <a v-for="user in followers" :href=`profile.html?userId=${user.Id}` :key="user.id">{{ user.username }}</a>
            </div>
        </div>
        <div class="middle-section">
            <div class="post-block upload-post-block">
                <div class="post-content-section">
                    <div class="post-user-section">
                        <div class="post-user-avatar">
                            <img class="avatar-img" :src="user.profilePic ? user.profilePic : 'resources/default.jpg'" alt="User Avatar">
                        </div>
                        <div class="post-details">
                            <div class="post-user-details">
                                <h4>{{ user.username }}</h4>
                            </div>
                            <div class="post-date-section">
                                <p>Published on {{ formatDate(currentDate) }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="post-title-section">
                        <h2><input name="title" class="post-inputs" v-model="title" placeholder="Title"></h2>
                    </div>
                    <div class="post-content">
                        <textarea class="post-inputs" v-model="content" placeholder="Tell everyone about your day" @input="autoResize"></textarea>
                    </div>
                    <div class="post-image-section upload-post-image">
                        <label for="post-image" class="upload-image-label">
                            <img class="upload-image-icon" :src="imageSrc">
                        </label>
                        <input id="post-image" type="file" accept=".jpg,.jpeg,.png" @change="onImageSelected">
                    </div>
                    <button class="upload-post-button" @click="uploadPost">Upload Post</button>
                </div>
            </div>
            <div class="post-feed">
                <post-block v-for="(post, index) in posts" :post="post" :key="index" @follow-status-changed="updateFollowStatus" :parent-is-followed="post.parentIsFollowed" :parent-follow-button-text="post.parentFollowButtonText"></post-block>
            </div>
        </div>
        <div class="right-section">
            <div class="notification-blocks">
                <div class="notification-block">
                    <h3>Notification 1</h3>
                    <p>Notification 1 content</p>
                </div>
                <div class="notification-block">
                    <h3>Notification 2</h3>
                    <p>Notification 2 content</p>
                </div>
                <div class="notification-block">
                    <h3>Notification 3</h3>
                    <p>Notification 3 content</p>
                </div>
                <!-- Add more notification blocks as needed -->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="libs/vue.js"></script>
    <script type="text/javascript" src="libs/axios.js"></script>
    <script type="text/javascript" src="js/home.js"></script>
</body>
</html>
