/* Full-width section for the title */
.title-section {
    width: 100%;
    background-color: #002147;
    text-align: center;
    position: relative; /* Add relative positioning for positioning the button */
}

.logo-image {
    height: 70px;
}

/* Log Out button */
.logout-btn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #fff;
    text-decoration: none;
    background-color: #002147;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.logout-btn:hover {
    color: red; /* change to desired color */
}


@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.attr_all {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left {
    width: 35%;
    background: linear-gradient(to right,#01a9ac,#01dbdf);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    color: #fff;
}

.wrapper .left img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.wrapper .left h4 {
    margin-bottom: 10px;
}

.wrapper .left p {
    font-size: 12px;
}

.wrapper .right {
    width: 65%;
    background: #fff;
    padding: 30px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
    margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
    display: flex;
    justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
    width: 60%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
}

.my-posts-section {
    margin: 50% 25% 1% 25%;
}

.my-posts-label {
    background-color: aquamarine;
    text-align: center;
}




/* CSS for post blocks */
.post-block {
    display: flex;
    margin-bottom: 10px;
    background-color: white;
    padding: 5px;
    align-items: center;
}

.post-arrow-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30px;
}

.post-arrow {
    display: block;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: brightness(1);
}

.post-arrow.upvoted {
    content: url(../resources/upvoted.png);
}

.up-arrow {
}

.down-arrow {
    transform: rotate(180deg);
}

.vote-count {
    color: black;
    font-weight: bold;
}

.vote-count.blue {
    color: blue;
}

.post-author {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.post-author img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.post-author-name {
    font-weight: bold;
}

.post-author-follow {
    margin-left: auto;
}

.post-date {
    color: #999;
    font-size: 12px;
}

.post-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.post-user-section {
    display: flex; /* Set display to flex */
    align-items: top; /* Vertically align items in the center */
    height: 55px;
}

.post-user-details {
    display: flex; /* Set display to flex */
    align-items: center; /* Vertically align items in the center */
    height: 25px;
}

.post-date-section {
    margin-top: -15px;
}

.post-user-avatar {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px; /* Add margin to create spacing between avatar and user details */
}

.post-content-section {
    margin-left: 10px;
    width: 100%;
}

.post-content {
    margin-top: -20px;
    font-size: 18px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.post-text {
    margin: 5px 0;
}

.post-inputs {
    border: none;
    width: 90%;
}

textarea {
    font-size: 16px;
    resize: none;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-details {
    margin-top: 5px;
}

.post-title-section {
    margin-top: -20px;
}

.post-image-section {
    width: 150px;
    height: auto;
    max-height: 150px;
}

.post-image {
    width: auto;
    max-height: 150px;
    max-width: 150px;
}

.upload-post-button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.the-whole-comment-section {
    width: 100%;
}

.delete-image {
    width: 50px;
    margin-top: auto;
    margin-bottom: auto;
}

.delete-post-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.comment-delete-button-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* COMMENTS */
.post-comment-block {
    background-color: white;
    margin-bottom: 5px;
}

.comments-section {
    padding: 5px 0px 5px 30px;
    background-color: #ededed;
}

.new-comment-block {
    background-color: white;
    padding: 5px;
    margin-top: 5px;
    max-width: 100%;
    width: auto;
}

.comment-block {
    background-color: white;
    padding: 5px;
    max-width: 100%;
    width: auto;
    margin-top: 5px;
}

.comment-text {
    max-height: 200px;
    height: auto;
}
